.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

@media only screen and (min-width : 900px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }
  
  .d-md-inline-block {
    display: inline-block;
  }
}
