.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content--flex-start {
  justify-content: flex-start
}

.justify-content--flex-end {
  justify-content: flex-end
}

.justify-content--space-around {
  justify-content: space-around
}

.justify-content--space-between {
  justify-content: space-between
}

.flex-direction--column {
  flex-direction: column
}

.flex-direction--row {
  flex-direction: row
}

@media only screen and (min-width : 900px) {
  .align-items-md-center {
    align-items: center;
  }
}
